// ############
// ## COLORS ##
// ############

$color-neutral-900: #000000;
$color-neutral-300: rgba(246, 247, 254, 0.8);
$color-neutral-100: #ffffff;

$color-primary-400: #18006d;
$color-primary-200: #3943cf;

// ############
// ## FONTS ##
// ############
$font-family: "Nunito Sans", sans-serif;

// #############
// ## SPACING ##
// #############

// ##############################
// ## MEDIA QUERY BREAKPOINTS ###
// ##############################
$phone: 37em;
$tab-port: 60em;
$tab-land: 75em;
$tab-land: 100em;
$desktop: 100em;
$color: red;
